.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  width: 10%;
  fill: white;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-content {
    z-index: 1;
    color: var(--arcane-cyan)
  }
}

p.pill,
p.smaller {
  text-align: center;
  font-size: smaller;
}