<div class="header-game">

  <div class="start-header">
    <div class="logo-container" routerLink="/landing">
      <img class="icon-glow" src="/Chronicle of Angular.png" />
      <h1>Chronicles of Angular</h1>
    </div>

    <div class="menu-list">
      <div routerLinkActive="active" class="menu-item" routerLink="/map">🗺️ Carte</div>
      <div routerLinkActive="active" class="menu-item" routerLink="/city">🏰 Ville</div>
      <div routerLinkActive="active" class="menu-item" routerLink="/inventory">🎒 Inventaire</div>
    </div>
  </div>

  <div class="end-header">
    <div class="info-player">
      <div class="gold">
        <div class="gold-icon">💰</div> {{money() | interfaceDigits}}
      </div>
      <div class="lvl">Niv. {{lvl()}}</div>
      <div class="name">
        <h4>{{pseudo()}}</h4>
      </div>
    </div>

    <div class="btn-container">
      <div class="save" (click)="onSave()">Sauvegarder</div>
      <div class="leave" (click)="onExit()">Quitter</div>
    </div>
  </div>

</div>
