@if (gameManagerService.isInit){
@let player = gameManagerService.currentPlayer;

<app-game-header [money]="player.money" [lvl]="player.lvl" [pseudo]="player.pseudo"></app-game-header>

@if (gameManagerService.state() !== GameState.NONE){
<div class="container">
  <div class="select-class">
    <app-fight-character-card [isPlayer]="true" />
    <h1>VS</h1>
    <app-fight-character-card [isPlayer]="false" />
  </div>

  <app-fight-history class="history-card" />
  <app-fight-actions />

</div>
}
@else {
<div class="container">
  <h1>Chargement....</h1>
  <p>{{gameManagerService.state()}}</p>
</div>
}
}