<div class="stats-container">
  <div class="card-content">
    <h3 class="subtitle-contrast">Statistiques de départ</h3>
    <div class="stat">
      <div>ATK</div>
      <div>{{character().characteristics.atk}}</div>
    </div>
    <div class="stat">
      <div>DEF</div>
      <div>{{character().characteristics.def}}</div>
    </div>
    <div class="stat">
      <div>HP</div>
      <div>{{character().characteristics.hp}}</div>
    </div>
    <div class="stat">
      <div>Speed</div>
      <div>{{character().characteristics.speed}}</div>
    </div>
    <div class="stat">
      <div>Mana</div>
      <div>{{character().characteristics.mana}}</div>
    </div>
  </div>
</div>