<div class="maps-container">
  <div class="map-header">
    <h1>🗺️ Carte du monde</h1>
    <p>Choisissez une zone pour combattre</p>
  </div>

  <div class="maps">
    @for (zone of zones; track zone.id){
    <div class="map" (click)="zoneSelected.emit(zone)" [ngClass]="{'locked' : lvl() < zone.minLevel}">

      <app-map-icon class="map-logo" [map]="zone" />

      <div class="map-info">
        <div>
          <h2>{{zone.name}}</h2>
          <p>{{zone.description}}</p>
          <p><strong class="map-easy" [ngClass]="{
                'map-easy' : zone.difficulty === MapDifficulty.Facile,
                'map-mid' : zone.difficulty === MapDifficulty.Moyen,
                'map-hard' : zone.difficulty === MapDifficulty.Difficile,
               }">{{zone.difficulty}}</strong>{{zone.enemies}}
          </p>
        </div>
        @if (lvl() < zone.minLevel){ <div class="map-unlock">
          <p>🔒 Niv. {{zone.minLevel}}</p>
      </div>
      }
    </div>
  </div>
  }

</div>

<div class="map-links">
  <div class="toCity-link" routerLink="/city">🏰 Retourner en ville</div>
  <div class="toInventory-link" routerLink="/inventory">🎒 Inventaire</div>
</div>
</div>
