<div class="actions-box">
  <div class="base-actions">
    <button class="attack" [disabled]="disabled()" (click)="playerAtk.emit()">
      ⚔️ Attaquer
    </button>
    <button class="flee" [disabled]="disabled()" (click)="playerQuit.emit()">
      🏃‍➡️ Fuir
    </button>
  </div>

  <div class="class-actions">
    @for (skill of typeActions; track skill.name){
    <button class="skill" [disabled]="disabled()">
      <div class="skill-icon">{{skill.icon}}</div>
      <div class="skill-name">{{skill.name}}</div>
      <div class="skill-cost">{{skill.cost}} PM</div>
    </button>
    }
  </div>

  <div class="item-actions">
    @for (item of inventoryActions; track item.name){
    <button class="item" [disabled]="disabled()">
      <div class="item-icon">{{item.icon}}</div>
      <div class="item-name">{{item.name}}</div>
      <div class="item-qty">x{{item.qty}}</div>
    </button>
    }
  </div>
</div>
