<div class="actions-box">
  <div class="base-actions">
    <div class="attack">
      ⚔️ Attaquer
    </div>
    <div class="flee">
      🏃‍➡️ Fuir
    </div>
  </div>

  <div class="class-actions">
    @for (skill of typeActions; track skill.name){
    <div class="skill">
      <div class="skill-icon">{{skill.icon}}</div>
      <div class="skill-name">{{skill.name}}</div>
      <div class="skill-cost">{{skill.cost}} PM</div>
    </div>
    }
  </div>

  <div class="item-actions">
    @for (item of inventoryActions; track item.name){
    <div class="item">
      <div class="item-icon">{{item.icon}}</div>
      <div class="item-name">{{item.name}}</div>
      <div class="item-qty">x{{item.qty}}</div>
    </div>
    }
  </div>
</div>