<div class="player-info">
  <div class="player-header">
    <div class="player-header-sub">
      <app-class-icon [type]="player().type"></app-class-icon>
      <div class="main-info">
        <h3>{{player().pseudo}}</h3>
        <h4>{{player().type}} - Niveau {{player().lvl}}</h4>
      </div>
    </div>
    <p class="gold-end">💰 {{player().money | interfaceDigits}}</p>
  </div>

  <div class="jauge">
    <div class="jauge-item">
      <div class="header-jauge">
        <p>PV</p>
        <p>{{player().currentHp | interfaceDigits}}/{{player().characteristics.hp | interfaceDigits}}</p>
      </div>
      <div>
        <progress class="pv-jauge" [ngClass]="{'danger' : player().currentHp < player().characteristics.hp/2}"
          max="{{player().characteristics.hp | interfaceDigits}}"
          value="{{player().currentHp | interfaceDigits}}"></progress>
      </div>
    </div>

    <div class="jauge-item">
      <div class="header-jauge">
        <p>PM</p>
        <p>{{player().currentMp | interfaceDigits}}/{{player().characteristics.mana | interfaceDigits}}</p>
      </div>
      <div>
        <progress class="pm-jauge" max="{{player().characteristics.mana | interfaceDigits}}"
          value="{{player().currentMp | interfaceDigits}}"></progress>
      </div>
    </div>

    <div class="jauge-item">
      <div class="header-jauge">
        <p>EXP</p>
        <p>
          {{player().currentXp |interfaceDigits}}/{{player().lvl | xpRemaining | interfaceDigits}}
        </p>
      </div>
      <div>
        <progress class="exp-jauge" max="{{player().lvl | xpRemaining | interfaceDigits}}"
          value="{{player().currentXp | interfaceDigits}}"></progress>
      </div>
    </div>
  </div>
</div>
