<div class="player-info">
  <div class="player-header">
    <div class="player-header-sub">
      {{IconByType[player().type]}}
      <div class="main-info">
        <h3>{{player().pseudo}}</h3>
        <h4>{{player().type}} - Niveau {{player().lvl}}</h4>
      </div>
    </div>
    <p class="gold-end">💰 {{player().money}}</p>
  </div>

  <div class="jauge">
    <div class="jauge-item">
      <div class="header-jauge">
        <p>PV</p>
        <p>{{player().currentHp}}/{{player().characteristics.hp}}</p>
      </div>
      <div>
        <progress class="pv-jauge" [ngClass]="{'danger' : player().currentHp < player().characteristics.hp}"
          max="{{player().characteristics.hp}}" value="{{player().characteristics.hp}}"></progress>
      </div>
    </div>

    <div class="jauge-item">
      <div class="header-jauge">
        <p>PM</p>
        <p>30/30</p>
      </div>
      <div>
        <progress class="pm-jauge" max="30" value="30"></progress>
      </div>
    </div>

    <div class="jauge-item">
      <div class="header-jauge">
        <p>EXP</p>
        <p>{{player().currentXp}}/{{player().lvl * 100}}</p>
      </div>
      <div>
        <progress class="exp-jauge" max="100" value="{{player().currentXp}}"></progress>
      </div>
    </div>
  </div>
</div>