:host {
  overflow: auto;
  max-height: 150px;


  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-secondary);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 3px;

  }

  @supports not selector(::-webkit-scrollbar) {
    & {
      scrollbar-color: var(--secondary) var(--bg-secondary);
    }
  }
}

.history-box {
  display: flex;
  flex-direction: column-reverse;
}