<div>
  <p class=""><i>{{now | date:'HH-MM-ss'}}</i>: &nbsp;C'est l'heure dudududu DUEL !</p>
  <p class=""><i>{{now | date:'HH-MM-ss'}}</i>: &nbsp;C'est l'heure dudududu DUEL !</p>
  <p class=""><i>{{now | date:'HH-MM-ss'}}</i>: &nbsp;C'est l'heure dudududu DUEL !</p>
  <p class=""><i>{{now | date:'HH-MM-ss'}}</i>: &nbsp;C'est l'heure dudududu DUEL !</p>
  <p class=""><i>{{now | date:'HH-MM-ss'}}</i>: &nbsp;C'est l'heure dudududu DUEL !</p>
  <p class=""><i>{{now | date:'HH-MM-ss'}}</i>: &nbsp;C'est l'heure dudududu DUEL !</p>
  <p class=""><i>{{now | date:'HH-MM-ss'}}</i>: &nbsp;C'est l'heure dudududu DUEL !</p>
</div>
