<div class="inventory-bag">
  <div class="inventory-filters">
    @for (type of ItemTypeList; track type) {
    <div class="filter" [ngClass]="currentFilter() == type ? 'active' : ''" (click)="filterItems(type)">
      <span>{{IconByItemType[type]}}</span><span>{{type}}</span>
    </div>
    }
  </div>

  <div class="inventory-content">
    @if (itemsToShow().length > 0){

    @for (item of itemsToShow(); track item.name){
    <div class="inventory-item {{`item-${item.rarity}`}}">
      <div class="item-icon">{{IconByItemType[item.type]}}</div>
      <div class="item-info">
        <div class="item-name">{{item.name}}</div>
        <div class="item-desc">
          @for (line of item.description | tabulateDescriptionPipe; track line) {
          <div>{{line}}</div>
          }
        </div>
        <div class="item-info-sub">
          <div class="item-rarity {{item.rarity}}">{{item.rarity}}</div>
          <div class="item-quantity">x{{item.amount}}</div>
        </div>
      </div>
      <div class="item-useBtn">{{item.type === ItemType.POTION ? 'Utiliser' : 'Équiper'}}</div>
    </div>
    }
    }
    @else {
    <i>Aucun objet dans votre inventaire</i>
    }
    <!-- <div class="inventory-item">
      <div class="item-icon">🧪</div>
      <div class="item-info">
        <div class="item-name">Petite Potion de soin</div>
        <div class="item-desc">Restaure 30 PV</div>
        <div class="item-info-sub">
          <div class="item-rarity common">Common</div>
          <div class="item-quantity">x5</div>
        </div>
      </div>
      <div class="item-useBtn">Utiliser</div>
    </div>

    <div class="inventory-item">
      <div class="item-icon">🗡️</div>
      <div class="item-info">
        <div class="item-name">Épée en bois</div>
        <div class="item-desc">Inflige 5 de dégats</div>
        <div class="item-info-sub">
          <div class="item-rarity rare">Rare</div>
          <div class="item-quantity">x1</div>
        </div>
      </div>
      <div class="item-equipBtn">Équiper</div>
    </div>

    <div class="inventory-item">
      <div class="item-icon">🛡️</div>
      <div class="item-info">
        <div class="item-name">Bouclier miroir</div>
        <div class="item-desc">Réduit les dégats reçus de 50% et renvoie 25% des dégats infligés</div>
        <div class="item-info-sub">
          <div class="item-rarity legendary">Legendary</div>
          <div class="item-quantity">x1</div>
        </div>
      </div>
      <div class="item-equipBtn equiped">Équipé</div>
    </div> -->
  </div>
</div>