.inventory-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 75%;
  background: var(--bg-accent);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.inventory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.inventory-header h1 {
  font-size: 2rem;
  color: var(--arcane-cyan);
}

.exit {
  font-size: 1.2rem;
  color: var(--arcane-muted);
  cursor: pointer;
  transition: color 0.3s ease;
  background-color: var(--bg-main);
  padding: 10px 15px;
  border-radius: 10px;

  &:hover {
    color: var(--arcane-cyan);
    background-color: var(--bg-secondary);
    box-shadow: 0 0 10px rgba(0, 229, 255, 0.3);
  }
}

.inventory-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  height: 100%;
  gap: 15px;
}