@if(isPlayer()){
<div class="card {{isPlayer() ? 'player' : 'enemy'}}">
  <div class="card-header">
    <div class="name_box">
      <h3>{{player().pseudo}}</h3>
    </div>
    <div class="type-logo">
      <app-class-icon [type]="player().type" />
    </div>
  </div>
</div>
}
@else {
<div class="card {{isPlayer() ? 'player' : 'enemy'}}">
  <div class="card-header">
    <div class="header-sub">
      <div class="name_box">
        <h3>{{enemy().name}}</h3>
      </div>
      <div class="type-logo enemy-logo">
        <app-enemy-icon [type]="enemy().race" />
      </div>
    </div>
    <div class="enemy-rarity {{enemy().kind}}">
      {{enemy().kind}}
    </div>
  </div>
</div>
}

<div class="jauge">
  <div class="jauge-item">
    <div class="header-jauge">
      <p>PV</p>
      @if(isPlayer()){
      <p>{{player().currentHp | interfaceDigits}}/{{player().characteristics.hp | interfaceDigits}}</p>
      }
      @else {
      <p>{{enemy().currentHp | interfaceDigits}}/{{enemy().characteristics.hp | interfaceDigits}}</p>
      }
    </div>
    <div>
      @if (isPlayer()){
      <progress class="pv-jauge" [ngClass]="{'danger' : player().currentHp < player().characteristics.hp/2}"
        max="{{player().characteristics.hp |interfaceDigits}}"
        value="{{player().currentHp|interfaceDigits}}"></progress>
      }
      @else {
      <progress class="pv-jauge" [ngClass]="{'danger' : enemy().currentHp < enemy().characteristics.hp/2}"
        max="{{enemy().characteristics.hp|interfaceDigits}}" value="{{enemy().currentHp|interfaceDigits}}"></progress>
      }
    </div>
  </div>

  <div class="jauge-item">
    <div class="header-jauge">
      <p>PM</p>
      @if(isPlayer()){
      <p>{{player().currentMp|interfaceDigits}}/{{player().characteristics.mana|interfaceDigits}}</p>
      }
      @else {
      <p>{{enemy().currentMp|interfaceDigits}}/{{enemy().characteristics.mana|interfaceDigits}}</p>
      }
    </div>
    <div>
      @if (isPlayer()){
      <progress class="pm-jauge" max="{{player().characteristics.mana|interfaceDigits}}"
        value="{{player().currentMp|interfaceDigits}}"></progress>
      }
      @else {
      <progress class="pm-jauge" max="{{enemy().characteristics.mana|interfaceDigits}}"
        value="{{enemy().currentMp|interfaceDigits}}"></progress>
      }
    </div>
  </div>

  <div class="stats-container">
    @if (isPlayer()){
    <div class="stat-cell atk">⚔️ {{player().characteristics.atk|interfaceDigits}}</div>
    <div class="stat-cell def">🛡️ {{player().characteristics.def|interfaceDigits}}</div>
    <div class="stat-cell spd">💨 {{player().characteristics.speed|interfaceDigits}}</div>
    }
    @else {
    <div class="stat-cell atk">⚔️ {{enemy().characteristics.atk|interfaceDigits}}</div>
    <div class="stat-cell def">🛡️ {{enemy().characteristics.def|interfaceDigits}}</div>
    <div class="stat-cell spd">💨 {{enemy().characteristics.speed|interfaceDigits}}</div>
    }
  </div>
</div>